:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-text-color: #000;
  --accent-color: #2196f3;

  --primary-white-color: #fff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --secondary-background: #f5f4fa;
  --dark-background: #2f303a;
  --background-hero: #c4c4c4;
  --border-primary-color: #eee;
  --border-secondary-color: #ececec;
  --opacity-background-color: rgba(47, 48, 58, 0.8);
  --button-secondary-color: #188ce8;
  --box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --footer-link-background-color: rgba(255, 255, 255, 0.1);

  --icon-color: #afb1b8;

  --backdrop-color: rgba(0, 0, 0, 0.2);
  --overlay-background: rgba(33, 150, 243, 0.9);

  --section-indent: 94px;
  --indent: 30px;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Basic Styles */

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: var(--section-indent) 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-list,
.category-list,
.address-list,
.partner-list,
.socials-list,
.team-list,
.about-list,
.feature-list,
.contacts,
.site-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav__link,
.logo,
.page-footer__logo,
.partner-list__link,
.socials-list__link,
.modal-form__link,
.address-list__link,
.contacts__link,
.portfolio-list__link {
  color: var(--primary-text-color);
}

/* Page-header */

.page-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;

  border-bottom: 1px solid var(--border-secondary-color);
  background-color: var(--primary-white-color);
}

.page-header__container,
.page-header__nav {
  display: flex;
  align-items: center;
}

/* Logo */

.logo,
.logo-footer {
  color: var(--logo-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo-footer {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  color: var(--primary-white-color);
}

.logo__accent {
  color: var(--accent-color);
}

/* Site-nav and Contacts */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link,
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  text-decoration: none;

  transition: color 250ms var(--transition), fill 250ms var(--transition);
}

.site-nav__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.site-nav__link:hover,
.site-nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.site-nav__current {
  color: var(--accent-color);
  position: relative;
}

.site-nav__current::after {
  content: '';
  display: inline-block;

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

/* Section-hero */

.section-hero {
  text-align: center;
  padding: 200px 0;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--background-hero);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/main/hero.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero__title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--indent);
}

.button {
  display: inline-block;
  border-radius: 4px;
  border-width: 0;
  padding: 10px 32px;
  min-width: 216px;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  transition: background-color 250ms var(--transition);
}

.button:hover,
.button:focus {
  background-color: var(--button-secondary-color);
}

/* Feature-list section */

.feature-list {
  display: flex;
  gap: var(--indent);
}

.feature-list__item {
  width: 270px;
}

.feature-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--indent);
  height: 120px;

  background: var(--secondary-background);
}

.feature-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.feature-list__text {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

/* About  section */

.section-about {
  padding-top: 0;
}

.about-list {
  display: flex;
  gap: var(--indent);
}

.about-list__item {
  position: relative;
}

.about-list__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: var(--opacity-background-color);
  color: var(--primary-white-color);
}

/* Team section */

.section-team {
  background-color: var(--secondary-background);
}

.team-list {
  display: flex;
  gap: var(--indent);
}

.team-list__meta {
  padding: var(--indent) 0;
  text-align: center;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}

.team-list__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Socials part */

.socials-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);

  transition: color 250ms var(--transition), background-color 250ms var(--transition);
}

.socials-list__icon {
  fill: currentColor;
}

.socials-list__link:hover,
.socials-list__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Partner section */

.partner-list {
  display: flex;
  justify-content: space-between;
}

.partner-list__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  color: var(--icon-color);

  transition: color 250ms var(--transition), border-color 250ms var(--transition);
}

.partner-list__link:hover,
.partner-list__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.partner-list__icon {
  fill: currentColor;
}

/* Footer */

.page-footer {
  background-color: var(--dark-background);
  padding: 60px 0;
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.address-container {
  flex-grow: 1;
  margin-right: 70px;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address-list__link {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
  text-decoration: none;

  transition: color 250ms var(--transition);
}

.address-list__link--white {
  color: var(--primary-white-color);
}

.address-list__link:hover,
.address-list__link:focus {
  color: var(--accent-color);
}

/* Socials footer */

.socials {
  margin-right: 93px;
}

.socials__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.socials-list__link--white {
  color: var(--primary-white-color);
  background-color: var(--footer-link-background-color);
}

.social-list__icon {
  fill: currentColor;
}

/* Subscribe form */

.subscribe-form__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc (16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscribe-form__container {
  display: flex;
}

.subscribe-form__input {
  display: block;
  width: 358px;

  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscribe-form__input::placeholder {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
}

.subscribe-form__button {
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  fill: currentColor;

  transition: background-color 250ms var(--transition);
}

.subscribe-form__icon {
  margin-left: 10px;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 3;

  background-color: var(--backdrop-color);

  transition: opacity 500ms var(--transition), visibility 500ms var(--transition);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;

  border-radius: 4px;
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms var(--transition), opacity 250ms var(--transition);
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.modal .button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--indent);
  height: var(--indent);

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: var(--primary-white-color);

  cursor: pointer;
}

.modal .button-close:hover,
.modal .button-close:focus {
  fill: var(--accent-color);
  transition: fill 250ms var(--transition);
}

/* Modal form */

.form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label,
.form-input,
.comment-textarea {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.form-label {
  margin-bottom: 4px;

  color: var(--secondary-text-color);
}

.form-input,
.comment-textarea {
  width: 100%;
  padding: 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms var(--transition);
}

.icon-form {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill 250ms var(--transition);
}

.comment-field {
  margin-bottom: 20px;
}

.comment-textarea {
  padding: 12px 16px;
  resize: none;
}

.comment-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-input:focus,
.comment-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-field:focus-within > .icon-form {
  fill: var(--accent-color);
}

.policy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--indent);

  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.checkbox-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  width: 16px;
  height: 15px;

  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon-container {
  background-color: var(--accent-color);
  border: none;
  background-origin: border-box;
}

.link-policy {
  color: var(--accent-color);
}

.button-send-container {
  display: flex;
  justify-content: center;
}

.button-send {
  min-width: 200px;
  padding: 10px 52px;

  transition: background-color 250ms var(--transition);
}

.button-send:hover,
.button-send:focus,
.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--button-secondary-color);
}

/* Styles for portfolio.html */

.sort-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.sort-list-button {
  padding: 6px 22px;

  background-color: var(--secondary-background);
  color: var(--primary-text-color);
  border-width: 0;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;

  cursor: pointer;

  transition: background-color 250ms var(--transition), color 250ms var(--transition),
    box-shadow 250ms var(--transition);
}

.sort-list-button:hover,
.sort-list-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio list and overlay */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.portfolio-link {
  display: inline-block;
  text-decoration: none;

  transition: box-shadow 250ms var(--transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 4px 4px 6px rgb(0 0 0 / 12%), 2px 1px 5px rgb(0 0 0 / 14%),
    5px 3px 7px rgb(0 0 0 / 20%);
}

.portfolio-link:hover .text-overlay,
.portfolio-link:focus .text-overlay {
  transform: translateY(0);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  background-color: var(--overlay-background);

  transform: translateY(101%);
  transition: transform 250ms var(--transition);
}

.portfolio-text-container {
  padding: 20px 24px;
  border-right: 1px solid var(--border-primary-color);
  border-bottom: 1px solid var(--border-primary-color);
  border-left: 1px solid var(--border-primary-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.portfolio-text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}
