.logo {
  @extend %link;

  color: $logo-text-color;
  font-family: $secondary-font;

  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo-footer {
  @extend .logo;
  display: inline-block;
  margin: 0 0 20px 0;
  color: $primary-white-color;
}

.logo__accent {
  color: $accent-color;
}
