// Text colors

$primary-text-color: #212121;
$secondary-text-color: #757575;
$logo-text-color: #000;
$accent-color: #2196f3;

// Main colors

$primary-white-color: #fff;
$secondary-white-color: rgba(255, 255, 255, 0.6);
$secondary-background: #f5f4fa;
$dark-background: #2f303a;
$background-hero: #c4c4c4;
$border-primary-color: #eee;
$border-secondary-color: #ececec;
$opacity-background-color: rgba(47, 48, 58, 0.8);
$button-secondary-color: #188ce8;
$box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);
$footer-link-background-color: rgba(255, 255, 255, 0.1);
$icon-color: #afb1b8;
$placeholder-color: rgba(117, 117, 117, 0.5);

// Overlay colors

$backdrop-color: rgba(0, 0, 0, 0.2);
$overlay-background: rgba(33, 150, 243, 0.9);

// Fonts

$primary-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;

//  Another

$section-indent: 94px;
$indent: 30px;
$transition: cubic-bezier(0.4, 0, 0.2, 1);
